html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body
{
    overflow-x: hidden; 
}
    




.header {
    background-image:url(media/e7e7fe1d5a22f73a73a8d5a9b729b568.jpg);
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    height: 80px;
    width: 100%;
    background-color: rgb(38, 40, 59);
    border-style: solid;
    border: 50px;
    box-shadow: inset 0px 5px 10px 0px #000;
    bottom: 0px;
}

.footer p {
    text-align: center;
    color: white;
    margin: 0 auto;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.background img{
    height: 1180px;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.header p {
    font-family: 'Passion One', bold;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    height: 100%;
    padding-top: 6%;
}

.page {
    background-color: rgba(255, 255, 255, 0.45);
    height: 1100px;
    width: 75%;
    margin: 0px auto;
    box-shadow: inset 0px 0px 20px #000;
//    border-radius: 40px 40px 0px 0px;
}

.nav {
    display: inline;
    list-style: none;
    margin: 0 auto;
}

.nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 40, 59);
    text-align: center;
    border-bottom: 5px;
    border-bottom-color: black;
    box-shadow: inset 0px 0px 20px #000;
}

.nav li {
    display: inline;
}

.nav li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
}

.nav li a:hover {
    background-color: rgba(61, 76, 113, 0);
    color: rgb(201, 241, 255);
    border-radius: 20px;
    padding: 14px 16px;
/*    box-shadow: inset 0px 0px 10px #000;*/
    transform: scale(1.2);
    transition: 0.2s;
    
}

.nav li a:visited {
    background-color: rgba(23, 27, 39, 0.26);
    border-radius: 10px;
    padding: 10px 16px;
}



@media screen and (max-width: 1300px) {
    .page {
        width: 90%;
    }
@media screen and (max-width: 800px) {
    .page {
        width: 100%;
        box-shadow: 0 0 0;
    }
@media screen and (max-width: 420px) {
    .nav li {
        display: block;
        border-bottom: solid 2px rgb(48, 49, 56);
    }
    .nav li a{
        padding: 6px 10px;
    }